*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E1F2F7;
    font-family: serif;
}
header{
    background-color: #E1F2F7;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.header-right{
    display: flex;
    flex-direction: row;
    margin-right: 40%;
}
.header-right h1{
    text-shadow: -2px 8px 2px rgba(95, 171, 206, 0.342);
}
.header-right h1 a{
    color: #EF0D50;
}
.header-right p{
    margin-left: 1.5rem;
    color: black;
    font-size: larger;
    margin-top: 1rem;
}
.header-left{
    display: flex;
    flex-direction: row;
}
.header-left p{
    margin-left: 2rem;
    color: black;
    font-size: larger;
    margin-top: 1rem;
}

.header-right #logo{
    padding-left: 0rem;
    color: #FB9039;
}

.header-right a, .header-left a{
    margin-left: 2rem;
    color: black;
    text-decoration: none;
}
.header-left a:hover, .header-right a:hover{
    background-color: white;
    text-decoration: none;
}
#login{
    margin-left: 40rem ;
    
}
.section-1{
    background-color:gray ;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1 input{
    padding: 0.7rem;
    border-radius: 0.2rem;
    border:1px solid black;
    width: 45%;
    margin-top: 1rem;
   
}
.section-1 h1{
    text-align: center;
    padding-top: 2rem;
    font-size: xx-large;
}
.section-1 p{
    text-align: center;
    font-size: smaller;
}
.section-2{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 2rem;
    height: 50vh;
    width: 80%;
    border: 30px solid #E6E2DD;
    border-radius:10% ;
    background-image: url(images/robert.jpg);
    background-size: cover;
    height: 100%;
}
.section-2-image{
    width: 30%;
    display: flex;
    justify-content: left;
    margin-left:0;

}
.section-2-sec{
    width: 60%;
    height: inherit;
    display:flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
}
.section-2-sec h1{
    margin-bottom: 2rem;
}
.section-2-sec #learn{
    margin-top: 1rem;
    border: 1px solid black;
    width: 15%;
    padding: 0.2rem;
    background-color: lightslategray;
}
.section-3 {
    margin-left: 10rem;
    margin-top: 5rem;
    height: 80vh;
    width: 80vw;
}
.section-3 h1{
    text-align: center;
}
.section-3 p{
    text-align: center;
    font-size:small;
}
.section-3-box{
    display: flex;
    flex-direction: row;
    border: 30px solid #E6E2DD;
    border-radius:10% ;
    background-image: url(images/robert.jpg);
    background-size: cover;
    height: 100%;
}
.section-3-left{
    margin-left: 0;
    margin-right: 3rem;
    text-align: left;
    width: 20%;
    background-color: #D48166;
}
.section-3-left li{
    list-style: none;
    padding: 0.5rem;
}
.section-3-right{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.section-3-right-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10rem;
    margin-top: 3rem;
}
.section-3-right-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10rem;
}
.section-3-right li{
    list-style: circle;
}
.section-3-right img{
    height: 150px;
    width: 50%;
}
.section-3-right-images h3{
    font-size: small;
}
.section-p{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}
.section-p p{
    margin-left: 30%;
    border: 1px solid black;
    background-color: grey;
    font-size: medium;
}
.section-4{
    margin-left: 10rem;
    margin-top: 10rem;
    border: 30px solid #E6E2DD;
    border-radius:10% ;
    background-image: url(images/robert.jpg);
    background-size: cover;
    height: 100%;
    width: 80vw;
}
.section-4-images{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 3rem;
    color: honeydew;
}
.sect-images{
    margin-right: 15rem;
    margin-top: 3rem;
}
.sect-images img{
    border-radius: 50%;
    width: 150px;
}
.sect-images{
    text-align: center;
}
.section-4 h2{
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: white;
}
.section-5{
    width: 90%;
    border: 30px solid #E6E2DD;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    border-radius:10% ;
    background-image: url(images/robert.jpg);
    background-size: cover;
    height: 100%;
    color: white;
}
.section-5-test-images{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
}
.testimony{
    border: 1px solid black;
    margin: auto 1rem;
    padding:1rem;
    border-radius: 10%;
    
}
.testimony b{
    color: black;
}

